/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #2c3e50;
    --green: #1abc9c;
    --lightgrey: #3a546d;
    --black: #333;
    --white: #fdfdfe;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    color: var(--grey);
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: inherit;
}

.green_bg {
    background-color: var(--green);
    color: var(--white);
}

.grey_bg {
    background-color: var(--grey);
    color: var(--white);
}

.lightgrey_bg {
    background-color: var(--lightgrey);
    color: var(--white);
}


.box {

    /* debug */
    width: 100%;
    min-height: 80px;
    border: 2px solid var(--white);
    background-color: violet;

}


/* regole header */

#header_menu {
    width: 100%;
    height: 60px;
    background-color: var(--grey);
    color: var(--white);
}

.nav-link {
    color: var(--white);
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--green);
} 



#jumbotron {
    padding-top: 60px;
    text-align: center;
}

#jumbotron img {
    max-width: 60%;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    
    #jumbotron img {
        max-width: 30%;
    }

}

@media screen and (min-width: 992px) {
    
    #jumbotron img {
        max-width: 20%;
    }

}

.title {
    margin: 50px 0;
}

.star {
    width: 35%;
    height: 3px;
    margin: 35px auto;
    position: relative;
    border-radius: 50px;
}

.star i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 30px;
}

#jumbotron .star {
    background-color: var(--white);
}

#jumbotron .star i {
    background-color: var(--green);
}

h1, h2, h5 {
    font-weight: 700;
}

#portfolio .star {
    background-color: var(--grey);
}

#portfolio .star i {
    background-color: var(--white);
}

.card {
    margin: 10px;
}

section {
    padding: 20px;
}